<h1>All posts from <%= @user.name %></h1>

<ul>
  <% @posts.each do |post| %>
    <%= link_to user_post_path(@user, post.id) do %>
      <li>
        <h3><%= post.title %> __ post.id = <%= post.id %></h3>
        <p><%= post.text %></p>
      </li>
    <% end %>
  <% end %>
</ul>