<div class="flex flex-col gap-3">
  <div class="flex flex-col p-4 border border-black border-solid">
    <h3><%= @post.title %></h3>
    <p><%= @post.text %></p>
    <span class="text-right">comments: <%= @post.comments.length %>, likes: <%= @post.likes.length %></span>
  </div>
  <%= render partial:'shared/post_comments', locals: { comments: @post.comments } %>
  <%= render "shared/add_comment" %>
</div>