<ul class="flex items-center gap-5 inset-0 h-10">
  <% if current_user %>
    <li>
      <%= current_user.name.split(' ')[0] %>
    </li>
    <li>
      <%= button_to "Logout", destroy_user_session_path, method: :delete %>
    </li>
    <li>
      <%= link_to "Home", root_path %>
    </li>
  <% else %>
    <li> <%= link_to "Login", new_user_session_path%> </li>
    <li> <%= link_to "Sign Up", new_user_registration_path%> </li>
    <li> <%= link_to "Home", root_path %> </li>
  <% end %>
</ul>

